.servicesTitle1{
    font-family: 'Poppins';
    text-align: center;
    background: linear-gradient( to left, var(--Azul), var(--Azul-claro-2) );
    margin: 0;
    color: var(--anaranjado);
    font-size: 2.2rem;
    text-shadow: 0px 1px 3px var(--negro);
    font-weight: bold;
    padding: 1%;
}

.servicesTitle{
    top: 3%;
    font-family: 'Poppins';
    text-align: center;
    font-size: 2rem;
    color: var(--anaranjado);
    font-weight: 900;
    text-shadow: 0 0px 3px var(--negro);
}

.admision--section{
    position: relative;
}
.admision{
    text-align: left;
    padding: 5% 0 2% 6%;
}

.sectionBecas{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    gap: 2rem;
}

/*RESPONSIVE DESIGN*/

@media(max-width: 1200px){
    html{
        font-size: 90%;
    }
    
}


@media(max-width: 991px){
    html{
        font-size: 85%;
    }
    .servicesTitle1{
        font-size: 2rem;
    }

    .servicesTitle{
        font-size: 2rem;
    }

}

@media(max-width: 768px){
    html{
        font-size: 83%;
    }
    .servicesTitle1{
        font-size: 1.9rem;
    }
     .servicesTitle{
        font-size: 1.9rem;
    }


}
@media(max-width: 550px){
    html{
        font-size: 78%;
    }
    .servicesTitle1{
        font-size: 1.7rem;
    }
     .servicesTitle{
        font-size: 1.7rem;
    }


}
@media(max-width: 420px){
    html{
        font-size: 75%;
    }
    .servicesTitle1{
        font-size: 1.5rem;
    }
     .servicesTitle{
        font-size: 1.5rem;
    }


}
@media(max-width: 320px){
    html{
        font-size: 70%;
    }
    .servicesTitle1{
        font-size: 1.3rem;
    }
     .servicesTitle{
        font-size: 1.3rem;
    }


}


