.profile-info {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  z-index: 1;
}

.profile-info h4 {
  font-size: 1rem;
  font-weight: 600;
  color: #181818;
  margin: 0;
  font-weight: 600;
}

.profile__ipc h4{
  font-family: 'Roboto';
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 0;
  color: var(--Azul-logo);
  text-shadow: 0 1px 1px var(--negro);
}

.profile-info p {
  font-size: 0.9rem;
  color: #555;
  margin: 0.2rem 0 0 0;
}

/* Bloques individuales */
.profile__post,
.profile__experience,
.profile__contact {
  display: flex;
  flex-direction: column;
}

@media(max-width:420px){
  .profile-info{
    gap: 0;
  }
  .profile__post{
    display: flex;
  }
  .profile__ipc h4{
    margin-top: 0rem;
  }
}
