.profile-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name__teachers{
    margin-top: .4em;
    font-size: 1.4rem;
    font-weight: bold;
    color: #222;
}
.name__speciality{
    font-size: 0.9rem;
    color: #555;
}