.profile-stats {
  margin-top: -.5em;
  display: flex;
  gap: 1rem;
  justify-content: center;
  position: relative;
}

.stat-item {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Cada botón tendrá su color según el índice */
.stats__profile {
  font-family: 'Poppins';
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  text-align: left;
  color: rgb(8, 57, 77);
  font-weight: 600;
  transition: all 0.4s ease;
}

.stats__profileColor-0 { 
  background-color: #ffad33; 
}  
.stats__profileColor-1 { 
  background-color: #1c89e897;
  width: 10em; 
}  

.stats__profile:hover {
  opacity: 0.9;
}

.stats__list {
  margin-top: 0.3rem;
  list-style: disc;
  transition: all 1s ease;
}

.stats__list li {
  margin-bottom: 0.2rem;
  list-style: none;
}

/* Contenedor animado */
.stats__list-wrapper {
  position: absolute;
  top: 100%;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s ease, opacity 0.7s ease;
  opacity: 0;
  z-index: 2;
}

.stats__list-wrapper.open {
  max-height: 300px; /* ajusta según contenido */
  opacity: 1;
  
}

/* Lista desplegada */
.stats__list {
  margin: 0;
  padding: 0.8rem 1rem;
  list-style: none;
  background: rgb(176, 166, 166) ; /* Fondo gris claro, cámbialo si quieres */
  border-radius: 5px;
}

.stats__list li {
  padding: 0.3rem 0;
  font-size: 0.95rem;
  color: var(--negro);
}

@media(max-width: 420px){
  .profile-stats{
    gap: .1em;
    flex-direction: column;
  }
  .stats__profileColor-1{
    width: 100%;
  }
}
