
.major-btn {
    position: relative;
    color: white;
    font-size: 1em;
    width: 100%;
    padding: 6px 0 8px;
    background-color: rgb(174, 190, 174);
    border: none;
    border-radius: 5px;
    transition: .4s ease;
}
.major-btn:hover{
    background: rgba(255, 72, 0, 0.552);
}

