.major-banner p {
  color: white;
  text-align: center;
}

.majorus-card p {
  position: relative;
  top: -10px;
}

@media(max-width: 768px){
  .major-banner h1{
  font-size: 1.8em;
}
.major-banner p{
  font-size: .9em;
}
}
@media(max-width: 420px){
   .major-banner h1{
  font-size: 1.5em;
}
.major-banner p{
  font-size: .7em;
}
}



