.carousel-dots {
  display: flex;
  justify-content: center;
  margin-top: 2.8rem;
  gap: 0.5rem;
}

.carousel-dot {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
  filter: grayscale(100%);
}

.carousel-dot.active {
  background: rgb(8, 42, 123);
  filter: grayscale(0%);
}


@media(max-width:420px){
  .carousel-dots{
    margin-top: 0rem;
  } 
  }

