.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(6, 59, 134, 0.792);
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 20;
  transition: all 0.3s ease;
  font-size: 1.5rem;
  border: none;
  outline: none;
  padding-bottom: 4px;
}

.nav-arrow:hover {
  background: var(--anaranjado);
  transform: translateY(-50%) scale(1.1);
  color: var(--Azul);
}

.nav-arrow.left {
  left: 2px;
  padding-right: 3px;
  margin-left: 1rem;
}

.nav-arrow.right {
  right: 2px;
  padding-left: 3px;
  margin-right: 1rem;
}



/*  RESPONSIVE DESING*/

@media(max-width:1200px){
    html{
      font-size: 90%;
    }
  }
@media(max-width:991px){
    .nav-arrow.left{
      margin-left: 5%;
    }
  
    .nav-arrow.right{
      margin-right: 5%;
    }
  }
@media(max-width:768px){
  .nav-arrow{
    display: none;
  }
  }
