.majorus-card {
  font-family: 'Poppins';
  display: inline-block;
  text-align: center;
  width: 15rem;
  height: 43vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.majorus-card p{
  font-size: .85rem;
  color: rgba(0, 0, 0, 0.632);
}