.contain-aboutD {
  position: relative;
  padding: 2rem 1rem 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff; /* color arriba */
  overflow: hidden; /* evita que la imagen se salga */
}

.contain-aboutD::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 58%; /* el espacio que quieres para la imagen */
  background: url("https://elpopular.cronosmedia.glr.pe/original/2022/10/03/633b7aeb9e62f51f00757657.jpg") center/cover no-repeat;
  z-index: 1;
}


.about__title{
    font-family: 'Poppins';
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    font-size: 2.5rem;
    color: var(--Azul);
    text-shadow: 0 2px  2px var(--negro);

}

.about__description{
    font-family: 'Poppins';
    font-size: 1em;
    text-align: center;
    width: 80vw;
    padding: 1em;
    box-shadow: 0 2px 10px var(--negro);
    transition: .5s ease;
    margin-top: 1rem;
    background-color: 0;
    z-index: 0;
    background-color: rgba(1, 93, 107, 0.849);
    border: 1px solid var(--negro);
    color: var(--blanco);
    z-index: 2;
}


.about__description:hover{
    transform: scale(1.01);
    z-index: 2;
}

/*RESOPONSIVE DESIGN*/
/*
    991PX
¨:¨:¨:¨:¨:¨¨:¨::¨¨:¨:¨:¨:¨¨¨:¨:¨:¨¨:¨¨:¨¨:¨:¨¨:¨:¨:¨:¨:¨¨:¨:*/
@media(max-width:991px){
    .about__description{
        width: 90VW;
        font-size: 99%;
    }

    .contain-aboutD::after {
        height: 55%; 
    }
}

/*
    768PX
¨:¨:¨:¨:¨:¨¨:¨::¨¨:¨:¨:¨:¨¨¨:¨:¨:¨¨:¨¨:¨¨:¨:¨¨:¨:¨:¨:¨:¨¨:¨:*/
@media(max-width:768px){
    .about__description{
        width: 92VW;
        font-size: 90%;
    }   
     .contain-aboutD::after {
    height: 50%; /* ajusta un poco en tablets */
    background-position: center;
  }   
        
    }


/*
    420PX
¨:¨:¨:¨:¨:¨¨:¨::¨¨:¨:¨:¨:¨¨¨:¨:¨:¨¨:¨¨:¨¨:¨:¨¨:¨:¨:¨:¨:¨¨:¨:*/
@media(max-width:480px){
    .about__description{
        width: 96VW;
        font-size: 80%;
        text-align: justify;
        padding: .5rem;

    }
    .contain-aboutD::after {
    height: 45%; /* ajusta en móviles medianos */
    background-position: center bottom;
  }
}

@media(max-width: 320px){
    .contain-aboutD::after {
    height: 40%; /* para móviles muy pequeños */
    background-position: bottom; /* que se pegue bien abajo */
  }
}