.container__contS{
    font-family: 'Roboto';
    display: flex;
    flex-direction: column; 
    font-size: 1.2rem;
    gap: 1rem;
    padding: 3rem 0 2rem 0 ;
    width: 30vh;
    height: 35vh;
    
}

.contact__title{
    font-size: 2.2rem;
    font-weight: bold;
    text-shadow:0 2px 2px rgb(243, 243, 243);
    margin-bottom: 5rem;
}

.cont-menu{
    margin: 1rem 0 3rem 0 ;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--negro);
    font-weight: 550;
}
.cont__item,
.social__item{
    list-style: none;
}   

.iconsc{
    color: var(--anaranjado-oscuro);
    font-size: 1.6rem;
}

.cont__item__list{
    display: flex;
    gap: 1rem;
}

.cont__item__text{
    display: flex;
     margin-bottom: 2rem;
}

.cont-menu{
    display: flex;

}

.cont__social{
    list-style: none;
    display: flex; 
    gap: 2rem;
    justify-content: center; 
    align-items: center;
    color: var(--Azul);
}

.container__animation{
    bottom: 4rem;
    width: 60px;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    
}
.contLi{
    color: var(--Azul);
}

.container__animation .contLi{
    position: relative; 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background: transparent;
    border: 0.1rem solid var(--Azul);
    border-radius: 50%;
    font-size: 25px;
    color: var(--Azul);
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 15px 4px 14px var(--negro);

}

.container__animation .contLi:hover{
    color: var(--anaranjado);
    transform: scale(1.1);

}

.container__animation .contLi::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--Azul);
    z-index: -1;
    transition: .5s;
}

.container__animation .contLi:hover::before{
    width: 100%;

}

/* =========================
   RESPONSIVE DESIGN
   ========================= */

/*  1200px */
@media (max-width: 1200px) {
    .container__animation .contLi {
        width: 42px;
        height: 42px;
        font-size: 23px;
    }
}

/*  991px */
@media (max-width: 991px) {
    .container__animation  {
        width: 40px;
        height: 40px;
        font-size: 22px;
        margin-bottom: -4rem;
    }
    .contact__title{
        margin-bottom: 3rem;
        font-size: 2rem;
    }
}

/* 768px */
@media (max-width: 768px) {
    .container__contS{
        font-size: 95%;
        flex-direction: row;
        gap: 2rem;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
}
    .container__animation .contLi {
        width: 36px;
        height: 36px;
        font-size: 21px;
    }
    .contact__title{
        margin-right: 1rem;
        margin-left: 1rem;
        font-size: 1.6rem;
        text-shadow: 0 1px 1px var(--Azul);
    }
    
}



/* 550px */
@media (max-width: 550px) {
    .container__contS{
        flex-direction: column;
        gap: 0;
    }
    .cont-menu{
        gap: .2rem;
        margin-bottom: 1rem;
    }

    .iconsc{
        font-size: 1.1rem;
    }
    .contact__title{
        margin-bottom: 1rem;
        margin-top: -5rem;
    }



    .container__animation {
        gap: 6px;
        margin-top: .5rem;
    }
    .container__animation .contLi {
        width: 35px;
        height: 35px;
        font-size: 20px;
    }
}

/* max 320px*/
@media (max-width: 320px) {
    .container__animation {
        gap: 5px;
    }
    .container__animation .contLi {
        width: 32px;
        height: 32px;
        font-size: 18px;
    }
}
