.homebutton  {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
  width: 18%;
}

.title{
  font-family: 'Roboto';
  font-size: 0.9rem;
  font-weight: normal;
  color: var(--Azul-logo);
}

.homebutton:hover{
  transform: scale(1.05);
  transition: var(--trasicion);
}

