.majorCard__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding:5rem 1rem ;
  gap: 2rem;
  background-color: rgba(39, 32, 32, 0.149);
  margin: 0 3rem;
}
