/* Contenedor general */
.section-major {
  padding: 3rem 1rem;
  text-align: center;
  background: #fff; 
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
  background-color: rgba(72, 94, 102, 0.044) ;
}


/* Encabezados */
.major__title {
  font-family: 'Poppins';
  text-shadow: 0 2px 2px var(--negro);
  font-size: 2.2rem;
  font-weight:  bold;
  letter-spacing: 0.5px;
  color: var(--Azul-logo);
}

.major__subtitle {
  font-family: 'Roboto';
  font-size: 1.1rem;
  color: #bb760d;
  margin-bottom: 2.5rem;
  
  }

/* Wrappers de pasos */
.steps-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem ; 

}


.arrow--vertical {
  width: 20px;
  height: 80px;
  color: var(--Azul);
}

/* Tarjeta */
.step-card {
  width: 260px;
  height: 260px;
  max-width: 300px;
  padding: 1rem;
  background: transparent;
  border-radius: 50%;
  transition: .5s ease-in;
  margin-top: 1rem;
}

.step-card:hover{
  transform: scale(1.05);
  box-shadow: 2px 0 2px var(--anaranjado) ; 

}

.step-title {
  font-family: 'Poppins';
  margin-top: 0.8rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: #222;
}

.step-desc {
  font-family: 'Roboto';
  margin-top: 0.35rem;
  font-size: 0.96rem;
  color: #555;
  line-height: 1.5;
}

/* Ícono circular */
.icon-circle {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: #161d33;
  margin: 0 auto;
}

.icon-circle__glyph {
  font-size: 48px; /* icono grande */
}

/* ===========================
  RESPONSIVE DESIGN
   =========================== */

/* <= 1200px */
@media (max-width: 1200px) {
  .major__title { font-size: 1.9rem; }
  .arrow--horizontal { width: 100px; }
}

/* <= 992px */
@media (max-width: 992px) {
  .step-card { 
    width: 220px;
    height: 220px;
   }
  .arrow--horizontal { width: 50px; }
}

/* <= 768px — cambiamos a columna y flechas verticales */
@media (max-width: 768px) {
  .steps-wrapper--mobile {
    display: flex;
    align-items: center;
  }

  .step-card {
    width: 100%;
    max-width: 360px;
    height: 14rem;
    padding: 0 1rem;
  }

  .arrow--vertical { height: 15px; }
}

/* <= 480px */
@media (max-width: 480px) {
  .major__title { 
    font-size: 1.6rem;
   }
  .major__subtitle { 
    font-size: 0.98rem; 
  }
  .icon-circle { 
    width: 78px; 
    height: 78px; 
  }
  .icon-circle__glyph { 
    font-size: 36px; 
  }
  .step-desc { 
    font-size: 0.92rem; 
  }
}

/* <= 320px */
@media (max-width: 320px) {
  .major__title { 
    font-size: 1.45rem; 
  }
  .major__circle { 
    width: 72px; height: 72px; 
  }
  .icon-circle__glyph { 
    font-size: 32px; 
  }
  .step-card {
     max-width: 
     300px; }
}
