.majorRed__container {
  font-family: 'Poppins';
  background-color: rgb(0, 0, 0);
  margin: 2rem 2rem 0;
  color: white;
  height: 150px ;
  transition: .5s ease;
}
.majorRed__container:hover{
  transform: scale(1.01);
}

.major__titles {
  display: flex;
  flex-direction: column;
  width: 58vw;
  margin: 0 auto;
}

.line {
  height: 3px;
  background: linear-gradient(90deg, var(--anaranjado-fuerte), var(--Azul-logo));
  margin-bottom: 1rem;
}

/*
    RESPONSIVE DESIGN
*/

@media(max-width:991px){
  .majorRed__container{
    font-size: 99%;
  }
  .major__titles h1{
    font-size: 1.6em;
  }
  .major__titles p{
    font-size: .9em;
}
}
@media(max-width:768px){
  .majorRed__container{
    margin: 0;
  }
  .major__titles{
    width: 85vw;
  }
  .major__titles h1{
    font-size: 1.5em;
  }
  .major__titles p{
    font-size: .8em;
  }
}
@media(max-width:480px){
  .majorRed__container{
    margin: 0;
  }
  .major__titles h1{
    font-size: 1.2em;
  }
  .major__titles p{
    font-size: .6em;
  }
}



