.aboutUs-section{
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(72, 94, 102, 0.044);
  
}   
.sectioAbout__title {
    font-family: 'Poppins';
    color: var(--Azul-logo);
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.sectuionAboutUs__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    flex-wrap: nowrap;
}

.aboutUscard-wrapper {
  transition: transform 0.4s ease;
}

.aboutUscard-wrapper:hover {
  transform: translateY(-8px);
}

.card-1 { margin-top: 0; }
.card-2 { margin-top: 20px; }
.card-3 { margin-top: 40px; }
.card-4 { margin-top: 60px; }

/* <= 1200px */
@media (max-width: 1200px) {
  .sectuionAboutUs__cards {
    grid-template-columns: repeat(3, 1fr);
  }
  

}

/* <= 768px */
@media (max-width: 768px) {
    .sectuionAboutUs__cards {
    grid-template-columns: repeat(2, 1fr);
    } 
    .aboutUscard-wrapper:hover {
        transform: translateY(-3px);      
    }
    .sectioAbout__title{
    font-size: 2;
    }
    
}

/* <= 550px */
@media (max-width: 550px) {
   .sectuionAboutUs__cards{
    gap: 1rem;
    font-size: 95%;
   }
   .sectioAbout__title{
    font-size: 1.5;
    }
  }


/* <= 320px */
@media (max-width: 320px) {
    .sectuionAboutUs__cards {
        display: flex;
        flex-direction: column;
        
  } 
}