.section-sifts{
    display: flex;
    flex-direction: column;
    background-color: rgba(183, 198, 197, 0.304);
}

.admisionSifts{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 3rem 5rem ;
    text-wrap: wrap;

}

.mode{
    margin: 1rem 0 1rem 0;
    text-align: center;
    padding: 1rem;
}


/*RESPONSIVE DESIGN*/

/* 1200PX
        =====================================*/
@media(max-width: 1200px){
    .admisionSifts{
        padding: 2rem 2rem 5rem ;

}
}
/* 1200PX
        =====================================*/
@media(max-width: 991px){
    .admisionSifts{
        padding: 0 ;
    }
    .section-sifts{
        padding: 1rem;
    }
}
/* 768PX
        =====================================*/
@media(max-width: 768px){
    .admisionSifts{
        gap: 1.3rem;
    }
}
/* 590PX
        =====================================*/
@media(max-width: 590px){
        .admisionSifts{
                flex-direction: column;
        }

}
/* 1200PX
        =====================================*/
@media(max-width: 320px){

}
