.admisionSection{
    padding: 4%;
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    justify-content: center;
    align-items: center;
}

.containerIPC{
    grid-column: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.titleAdmision{
    font-family: 'Poppins';
    font-size: 2rem;
    font-weight: bold;
    color: var(--Azul-logo);
    text-shadow: 0 2px 2px var(--negro);
}

.container_img{
    width: 43vw;
}
.containerDes{
    font-family: 'Roboto';
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-bottom: 0;
}

.activity{
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
   
    
}

.activity2{
    font-size: 1.4rem;
    width: 24vw;
    color: var(--Azul-logo);
   
}
.buttonSAdmision{
    margin-top: 2rem;
    
}


/*RESPONSIVE DESIGN*/


/*
    1200px
==============================================*/
@media(max-width: 1200px){
    html{
        font-size: 90%;
    }
    .container_img{
     width: 44vw;
    }
    .containerDes{
        margin-top: 3rem;
    }
    .activity{
        font-size: 3.2rem;
    }
}
/*
    991px
==============================================*/
@media(max-width: 991px){
    html{
        font-size: 85%;
    }
    .container_img{
     width: 48vw;
    }
    .containerDes{
        margin-top: 4rem;  
    }
    .titleAdmision{
        font-size: 1.8rem;
    }
    .activity2{
        font-size:1.2rem ;
    }
    .activity{
        font-size: 3rem;
    }
    .buttonSAdmision{
        margin-top: 1rem;
    }
}
/*
    768px
==============================================*/
@media(max-width: 768px){
     html{
        font-size: 80%;
    }

    .admisionSection{
        padding: 7% 1rem 7% 1rem;
    }
    .container_img{
     width: 50vw;
    }

    .titleAdmision{
        font-size: 1.6rem;
    }
    .containerDes{
        gap: 1rem;
    }
    .activity{
        font-size: 2.2rem;
    }
    .activity2{
        font-size:1.2rem ;
    }
    .buttonSAdmision{
        width: 8rem;
        height: 2.5;

    }
}

/*
    550px
==============================================*/
@media(max-width: 550px){
    .admisionSection{
        display: flex;
        flex-direction: column;
    }
    .activity2{
        width: 100%;
    }
    .container_img{
        width: 300px;
    }
}
/*
    320px
==============================================*/
@media(max-width: 320px){

}