.sectionAdmision{
    margin: 2rem 2rem 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgb(255, 255, 255), rgba(26, 133, 227, 0.699), rgb(48, 139, 208));
    padding-bottom: 2rem;
}

.graduateIcon{
    font-size: 10rem;
    color: var(--anaranjado);
}

.heading-title{
    margin-top: -1rem;
    font-family: 'Poppins';
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--blanco);
    text-shadow: 0 2px 3px var(--negro);
}

.admision__Container{
    margin-top: .8rem;
    font-family: 'Roboto';
    display: flex;
    gap: .5rem;
    padding: 1rem;
    box-shadow: 0 2px 15px var(--celeste);
    font-size: 1.4rem;
    color: var(--negro);
    transition: .4s ease;
    background-color: var(--blanco);
}

.admision__Container:hover{
    background-color: var(--gris);
    color: var(--blanco);
    box-shadow: 0 2px 20px var(--negro);
    transform: scale(1.03);
}

.libraryicon{
    color: var(--anaranjado);
    font-size: 2rem;
}

/*RESPONSIVE DESIGN*/

/*
    991px
==============================================*/
@media(max-width: 991px){
    .graduateIcon{
        font-size: 8rem;
    }

    .heading-title{
        font-size:2.8   rem ;
    }

 .admision__Container{
    font-size: 1.1rem;
    padding: .9rem;
 }

 .libraryicon{
    font-size: 1.6rem;
 }
}


/*
    768px
==============================================*/
@media(max-width: 768px){

    .sectionAdmision{
        padding: 2rem 0 1rem 0;
        margin: 1em 1em 0;
    }
    .graduateIcon{
        font-size: 8rem;
        margin-top: -3rem;
    }

    .heading-title{
        font-size:2.6rem ;
    }

    .admision__Container{
    font-size: 1rem;
    padding: .9rem;
    margin: .5rem    1.5rem 0 1.5rem;
    text-align: center;

     }

    .libraryicon{
    font-size: 1.5rem;
    }
}

@media(max-width: 480px){
    .sectionAdmision{
        margin: 2rem 0 0;
    }
    .graduateIcon{
        font-size: 6rem;
    }
    .heading-title{
        font-size: 2rem;
    }
      .admision__Container{
        font-size: .8rem;
      }
}
    