.map-container {
font-family: 'Roboto';
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 10px var(--negro);
  background: linear-gradient(135deg, #1e293b, #000000);
  padding: .2rem;
}

.map-frame {
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.map-iframe {
  width: 100%;
  height: 100%;
  display: block;
}

.map-controls {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  gap: 8px;
}

.map-btn {
    background: rgba(100, 176, 252, 0.39);
    color: var(--negro);
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    cursor: pointer;
    text-decoration: none;
    transition: background 0.3s;
}

.map-btn:hover {
  background: rgba(242, 152, 103, 0.459);
}

.map-footer {
  position: absolute;
  left: 12px;
  bottom: 12px;
  font-size: 14px;
  color: var(--blanco);
  font-weight: bold;
  background: rgb(0, 0, 0);
  padding: 4px 8px;
  border-radius: 6px;
}

@media (max-width: 1200px) {
  .map-frame { height: 380px ; }
  .map-btn { font-size: 13px; padding: 5px 10px; }
}
@media (max-width: 991px) {
  .map-frame { height: 350px  }
  .map-btn { font-size: 12px; padding: 5px 8px; }
}
@media (max-width: 768px) {
  .map-frame { height: 320px ; }
  .map-controls { flex-direction: column; gap: 6px; }
}
@media (max-width: 480px) {
  .map-frame { height: 280px ; }
  .map-btn { font-size: 11px; padding: 4px 8px; }
  .map-footer { font-size: 12px; }
}
@media (max-width: 320px) {
  .map-frame { height: 240px ; }
  .map-btn { font-size: 10px; padding: 3px 6px; }
  .map-footer { font-size: 11px; }
}