.section{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Azul-claro-2);
    margin-top: 2rem;
    padding: 0 0 2rem 0;
}


.library{
    padding: 2rem 0 2rem 0;
}

.img__container{
    width: 50rem;
    height: 26rem;
    background-color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 
    4rem;
    box-shadow: 0px 0px 16px var(--negro); 
    margin-bottom: 3rem;
}
.img__library{
    box-shadow: 0 0px 10px var(--blanco);  
    width: 99.5%;
    height: 99%;
    
}

/*RESPONSIVE DESIGN*/


/* =============================
   991px ↓
   ============================= */
@media (max-width: 991px) {
  .img__container {
    font-size: 90%;
    width: 70vw;
    height: 27em;
  } 
  
}


/* 
   768px ↓
   ============================= */
@media (max-width: 768px) {
 .img__container {
    font-size: 90%;
    width: 80vw;
    height: 23em;
  } 
}

/* 
   550px 
   ============================= */

@media (max-width: 550px) {
 .img__container {
    font-size: 90%;
    width: 82vw;
    height: 16em;
  } 
}



/* 
   420px 
   ============================= */
@media (max-width: 420px) {
 .img__container {
    font-size: 90%;
    width: 80vw;
    height: 14em;
  } 
}


/* 
   320px 
   ============================= */
@media (max-width: 320px) {
    .img__container {
    font-size: 90%;
    width: 90vw;
    height: 14em;
  } 
}