.cardlist__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 5rem 3rem 5rem 3rem;  
    background: linear-gradient(to right, #f8f9fa 0%, #e9ecef 100%);
}

/*RESPONSIVE DESIGN*/

@media(max-width: 1200px){
    html{
        font-size: 90%;
    }
    .cardlist__container{
      margin: 7rem 2rem 7rem 2rem;
    }
    
}


@media(max-width: 991px){
    html{
        font-size: 85%;
    }
    .cardlist__container{ 
      margin: 7rem 1rem 7rem 1rem;
      gap: 2rem;
    }

}

@media(max-width: 768px){
    html{
        font-size: 83%;
    }
    .cardlist__container{
      margin: 7rem 1rem 7rem 1rem;
      gap: 2rem;
    }

}
@media(max-width: 550px){
    html{
        font-size: 78%;
    }
    
    .cardlist__container{
      margin: 7rem 1rem 7rem 1rem;
      gap: 3rem;
    }
}
@media(max-width: 420px){
    html{
        font-size: 75%;
    }
    .cardlist__container{
        margin: 1rem;
    }
    
}
@media(max-width: 325px){
    html{
        font-size: 70%;
    }
    .cardlist__container{
        margin: 1.5rem;
    }
  
}
