.aside{
    display: flex;
    justify-content: baseline;
    align-items: center;
    height: 75vh;
    width: 100%;
}

.carousel__aside__images{
    width: 100%;
    height: 100%;
}

.carousel__img{
    width: 99vw;
    height: 74vh;
}

.carousel__img:hover{
    transition: var(--transicion);
}

section{
    margin: 0;
    padding: 0;
}
.carousel__aside__btn--prev{
    position: absolute;
    top: 60vh;
    right: 90vw;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 102, 0, 0.50);
    color: var(--blanco);
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    border: 2px solid var(--blanco);
    box-shadow: 0 0 10px rgba(255, 102, 0, 0.9);
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    z-index: 2;
    cursor: pointer;
}

.carousel__aside__btn--prev:hover{
    background: linear-gradient(to left, var(--anaranjado-fuerte), var(--anaranjado));
    transform: translate(-50%, -50%) translateY(-5px);
    transition: var(--transicion);
}

.carousel__aside__btn--next{
    position: absolute;
    top: 60vh;
    left: 94vw;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 102, 204, 0.50);
    color: var(--blanco);
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    border: 2px solid var(--blanco);
    box-shadow: 0 0 10px rgba(0, 102, 204, 0.9);
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.carousel__aside__btn--next:hover{
    background: linear-gradient(to right, var(--Azul-logo), var(--Azul-claro-2));
    transform: translate(-50%, -50%) translateY(-5px);
    transition: var(--transicion);
}