.navbar { 
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px 6%;
    background-color: var(--blanco);
    width: 100%;
    height: 5rem;
    z-index: 20;
}
