.sectionQ10{    
    margin: 12rem 3rem 8rem 3rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    background: linear-gradient(to right, white 50%, #f0f0f0 50%);
    overflow: hidden;
    justify-content: space-between;
    padding: 0 8% 0 8%;
    box-shadow: 0 0 16px 2px rgb(59, 59, 59,.17);
    border-radius: 17px;
    
}

.sectionQ10::before,
.sectionQ10::after{
    content: "";
    position: absolute;
    top: 0;
    width: 25%;
    height: 80%;
    z-index: 2;
    background: white;
    clip-path: path("M 10 0 C 30 50, 130 0, 100 100 L 100 0 Z");
    transform: translateX(-50%);
}

.sectionQ10::after{
    left: 50%;
    clip-path: path("M 0 0 C 80 30, 60 70, 10 70 L 200 0 Z");
    background: #f0f0f0;
    z-index: 1;
}

.description{
    font-family: 'Roboto';
    font-size: 2rem;
    width: 35%;
    text-align: center;
    color: var(--anaranjado);
    text-shadow: 0 0 3px var(--negro);
    font-weight: bold;
}
.container{
    width: 16.4rem;
    background-color: var(--gris);
    border-radius: 50%;
    box-shadow: 0 0 16px 2px rgba(59, 59, 59, 0.599);
    transition: transform 0.5s ease;
}   

.container:hover{
    background-color: var(--anaranjado);
    box-shadow: 0 0 16px 2px rgba(19, 47, 138, 0.599);
}   
.container__img{
    width: 16rem;
    border-radius: 50%;
    transition: .3s ease;
}
.container__img:hover{
    transform: scale(1.01);
}




/*RESPONSIVE DESIGN*/

/* 
   1200px ↓
   ============================= */
@media(max-width: 1200px) {
    .sectionQ10{
    font-size: 90%;
    height:18rem ;
    margin: 12rem 2rem 8rem 2rem;
  }

}


/* 
   991px ↓
   ============================= */
@media(max-width: 991px) {

  .sectionQ10{
    font-size: 90%;
    height:16rem ;
    margin: 12rem 2rem 8rem 2rem;
  }

  .container__img{
    width: 13rem;
  }

  .container{
    width: 13.3rem;
  }
  .description{
    font-size: 1.8rem;
  }

}


/* 
   768px ↓
   ============================= */
@media (max-width: 768px) {
  .sectionQ10{
    font-size: 80%;
    height:14rem ;
    margin: 7rem 1rem 5rem 1rem;
  }

  .container__img{
    width: 10rem;
  }

  .container{
    width: 10.3rem;
  }
  .description{
    font-size: 1.3rem;
    width: 15rem;
  }
}

/* 
   550px 
   ============================= */

@media (max-width: 550px) {
.sectionQ10{
   
    width: 80vw;
    height: 10rem;
    z-index: 3;
    background: var(--gris);
    box-shadow: 0 2px 6px var(--negro);
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
    padding: 1rem;

     
}
.sectionQ10::before,
.sectionQ10::after {
    display: none;
}

.description{
    margin-top: 1rem;
}
.container__img{
    width: 8rem;
  }

.container{
    width: 8.3rem;
  }
}



/* 
   420px 
   ============================= */
@media (max-width: 420px) {
  .sectionQ10{
    flex-direction: column-reverse;
    width: 100%;
    height: 15rem;
    box-shadow: none;
    border-radius: 0;
  }
}


/* 
   320px 
   ============================= */
@media (max-width: 320px) {
  
}