.sectn-Admision{
  margin: 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgb(255, 255, 255), rgba(9, 109, 134, 0.336), rgba(6, 104, 129, 0.571));
}

.admision{
  margin:1em 1em;
  font-size: 2.5rem;
  text-align: center;
  background-color: var(--blanco);
  box-shadow: 0 2px 5px var(--negro);
  padding: 2rem 0 2rem 0;
  color: var(--Azul-logo);
  text-shadow: 0 2px 2px black;
}
.container__admisionS{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
  margin: 0 2rem;

}

.sacontainer__admision__img{
  width: 45vw;
  height: 53vh;      
  border-radius: 10px;
}


/*RESPONSIVE DESIGN*/

/* 
   1200px ↓
   ============================= */
@media(max-width: 1200px) {
  .container__admisionS{
    font-size: 98%;
  }
  
  .sacontainer__admision__img{
    width: 50vw;
  }
}

/* 
   991px ↓
   ============================= */
@media(max-width: 991px) {
  .sacontainer__admision__img{
    width: 50vw;
    height: 42vh;
  }
}
/* 
   768px ↓
   ============================= */
@media (max-width: 768px) {
  .section--admision{
    background: linear-gradient(150deg, #92a5c816 50%, #ffffffb8 50%);
  }
  
  .sacontainer__admision__img{
    width: 80vw;
    height: 48vh;
  }

  .container__admisionS{
    flex-direction: column;
    
  }
}

/* 
   550px 
   ============================= */

@media (max-width: 560px) {
  .sacontainer__admision__img{
    width: 80vw;
    height: 30vh;
  }

/**/
}
@media (max-width: 420px) {
  .sacontainer__admision__img{
    width: 80vw;
    height: 13rem;
  }
}

