.section--admision{
  margin: 3rem 0 0 0;
}

.container__admisionS{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;

}

.sacontainer__admision__img{
  width: 45vw;
  height: 53vh;      
  border-radius: 10px;
}
.admision{
  margin-top: 1rem;
}


/*RESPONSIVE DESIGN*/

/* 
   1200px ↓
   ============================= */
@media(max-width: 1200px) {
  .container__admisionS{
    font-size: 98%;
  }
  
  .sacontainer__admision__img{
    width: 50vw;
  }
}

/* 
   991px ↓
   ============================= */
@media(max-width: 991px) {
  .sacontainer__admision__img{
    width: 50vw;
    height: 42vh;
  }
}
/* 
   768px ↓
   ============================= */
@media (max-width: 768px) {
    .sacontainer__admision__img{
    width: 80vw;
    height: 48vh;
  }

  .container__admisionS{
    flex-direction: column;
  }
}

/* 
   550px 
   ============================= */

@media (max-width: 560px) {
  .sacontainer__admision__img{
    width: 80vw;
    height: 30vh;
  }

/**/
}
@media (max-width: 420px) {
  .sacontainer__admision__img{
    width: 80vw;
    height: 13rem;
  }
}

