/* VARIABLEES GLOBALES */
:root{
  --Azul:#162199;
  --Azul-claro:#0d175d;
  --Azul-claro-2: #141e87;
  --Azul-logo:#1262be;
  --anaranjado:#ff9800;
  --anaranjado-oscuro:#db6d00;
  --anaranjado-fuerte:#ff5f1f;
  --blanco: #fff;
  --gris:#d3d1d1;
  --gris-2:rgba(76, 201, 240, 0.3);
  --gris-oscuro:#333;
  --sombra: 0 4px 24px rgba(26, 35, 126,0.08);
  --trasicion: .3s cubic-bezier(.4,0,.2,1);
}

/* FUENTES EN WOFF2 */
@font-face {
  font-family: "Poppins";
  src: url(/src/fonts/Poppins-Regular.woff2) format(woff2);
}
@font-face {
  font-family: "Roboto";
  src: url(/src/fonts/Roboto-Regular.woff2) format(woff2);
}
@font-face {
  font-family: "BebasNeue";
  src: url(/src/fonts/BebasNeue-Regular.woff2) format(woff2);
}

/* ESTILOS GLOBALES */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
