/* VARIABLEES GLOBALES */
:root{
  --Azul:#162199;
  --Azul-claro:#0d175d;
  --Azul-claro-2: #153072;
  --Azul-logo:#1262be;
  --celeste:#1d93ec;
  --anaranjado:#ff9800;
  --anaranjado-oscuro:#db6d00;
  --anaranjado-fuerte:#ff5f1f;
  --blanco: #fff;
  --gris:#d3d1d1;
  --gris-2:#4cc9f04d;
  --gris-oscuro:#333;
  --negro: #000;
  --sombra: 0 4px 24px #1a237e14;
  --transicion: .3s cubic-bezier(.4,0,.2,1);
}

/* FUENTES EN WOFF2 */
@font-face {
  font-family: "Poppins";
  src: url(/src/fonts/Poppins-Regular.woff2) format(woff2);  /*para los titulos*/
}
@font-face {
  font-family: "Roboto";
  src: url(/src/fonts/Roboto-Regular.woff2) format(woff2);  /*para textos*/
}
@font-face {
  font-family: "BebasNeue";
  src: url(/src/fonts/BebasNeue-Regular.woff2) format(woff2);  /* para anuncios */
}

/* ESTILOS GLOBALES */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;

}

html {
  font-size: 100%;
  
}

